// Window rules
/* All Apps  */

// blur settings
blur {
  on
  passes 2        // more passes = stronger blur (default: 3) //2
  offset 3.0      // sample distance per pass (default: 3.0) //3.0
  noise 0.03      // grain overlay (default: 0.02) //0.03
  saturation 1.0  // color saturation boost (default: 1.5) //1.0
}

//Custom App
// niri msg focused-window
// niri msg windows
// /usr/share/applications # remode .desktop
// flatpak list

// rounded corner
window-rule {
  geometry-corner-radius 20
  clip-to-geometry true
}

// blur
window-rule {
  background-effect {
    blur true
    xray false
  }
  opacity 0.9 
  // fix blur settings
  draw-border-with-background false
}

// opacity
window-rule {
  match app-id=r"^com\.mitchellh\.ghostty$"
  background-effect {
    blur false
    xray false
  }
  opacity 0.8
}

// no blur, no opacity
window-rule {
  match app-id=r"^org\.gnome\.Showtime$"
  match app-id=r"brave-origin-nightly$"
  background-effect {
    blur false
    xray false
  }
  opacity 1.0
}

// full width
window-rule {
  match app-id=r"^org\.wezfurlong\.wezterm$"
  match app-id=r"firefox$"
  match app-id=r"brave-origin-nightly$"
  default-column-width 
}

//open in floating window
window-rule {
  match app-id=r"firefox$" title="^Picture-in-Picture$"
  open-floating true
}

//block-out-screenshot
window-rule {
  match app-id=r"^org\.keepassxc\.KeePassXC$"
  match app-id=r"^org\.gnome\.World\.Secrets$"
  block-out-from "screen-capture"

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}
